/* .footer-right-side {
    margin-right: 93px;
}

.socials__footer-icon {
    fill: var(--bg-color);
}

.footer-subcribe-form {
    display: flex;
    align-items: center;
}

.footer-subcribe__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    color: var(--bg-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    
   &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
} 
}



.footer-subscribe__button {
    min-width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color var(--transition-data);

    &:hover,
    &:focus {
    background-color: #188CE8;
}
}



.footer-subscribe-button-icon {
    margin-left: 10px;
} */